  body {
    margin: 0;
  }

  body>ol {
    margin-bottom: 200px;
  }

  body>div {
    display: inline;
  }

  .box-1 {
    width: 50%;
    background-color: blue;
    border: 5px solid black;
    padding: 50px 40px;
    margin: 50px 40px 30px 20px;
    height: 300px;
    color: white;
    visibility: hidden;
  }

  .box-2 {
    width: 300px;
    border: 5px solid red;
    padding: 50px 40px;
    margin: 50px 40px 30px 20px;
    height: 100%;
  }

  div:last-child:hover {
    color: white;
  }
